@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Yekan Bakh FaNum";
    src: url(/fonts/YekanBakhFaNum-Thin.woff2) format("woff2");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "Yekan Bakh FaNum";
    src: url(/fonts/YekanBakhFaNum-Light.woff2) format("woff2");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Yekan Bakh FaNum";
    src: url(/fonts/YekanBakhFaNum-Regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Yekan Bakh FaNum";
    src: url(/fonts/YekanBakhFaNum-SemiBold.woff2) format("woff2");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Yekan Bakh FaNum";
    src: url(/fonts/YekanBakhFaNum-Bold.woff2) format("woff2");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Yekan Bakh FaNum";
    src: url(/fonts/YekanBakhFaNum-ExtraBold.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Yekan Bakh FaNum";
    src: url(/fonts/YekanBakhFaNum-Black.woff2) format("woff2");
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: "Yekan Bakh FaNum";
    src: url(/fonts/YekanBakhFaNum-ExtraBlack.woff2) format("woff2");
    font-weight: 900;
    font-style: normal;
}